#centre{
    width:300px;
    height:300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius:500px;
}
.around{
    float:left;
    border-radius:500px;
    width:90px;
    height:90px;
    margin-left: 3%;
    box-shadow: black 0px 0px 10px 1px;
    margin-top: 38%;
}
.blackCoat{
    width:100%;
    height:100%;
    background-color:black;
    opacity:.5;
    border-radius: 500px;
}

a {
    position: absolute;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 30px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 00px auto;
    width: 160px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: absolute;
    top: 6px;
}

#explanation{
    position:absolute;
    width:100%;
    height:100%;
    background-color: black;
    opacity: .5;
    visibility: hidden;
}
#explainCentreText{
    position: absolute;
    margin-left:930px;
    margin-top: 285px;
    color: white; 
    font-size: 20px;
}
#explainRetweetersText{
    position: absolute;
    margin-left:20px;
    margin-top: 380px;
    color: white; 
    font-size: 20px;
}
#explainRanksText{
    position: absolute;
    margin-left:920px;
    margin-top: 350px;
    color: white; 
    font-size: 20px;
}

#arrowCentre{
    position: absolute;
    margin-left:830px;
    margin-top: 250px;
}
#arrowRetweeters{
    position: absolute;
    margin-left: 40px;
    margin-top: 400px;
}
#arrowRanks{
    position: absolute;
    margin-left: 945px;
    margin-top: 440px;
}